*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    list-style: none;
    text-decoration: none;
}
.nav{
    width: 100%;
    text-align: center;
}
nav .logo{
    width: 150px;
    /* margin: 20px 0; */
    padding-top: 15px;
    padding-left: 45%;
    cursor: pointer;
    color:black;
    font-weight: 900;
    font-size: 50px;
    letter-spacing: 3px;
    word-spacing: 4px;
    
}
nav .nav-links{
    background-color: black;
    width: 100%;
    height: 50px;
    margin-top: 15px;
    padding: 10px;
    text-align: center;

}
nav .nav-links a{
    text-decoration: none;
    margin: 15px 30px;
    color: white;
    letter-spacing: 2px;
    /* word-spacing: 4px; */
    text-align: center;

}
nav .nav-links a:hover{
  color: #3da9fc;
  text-decoration:none;
}
.title{
    text-align: center;
    font-size: 40px;
    color: black;
    margin-left: 150px;
}
 
  body{
     background-color: #f3f5f9;
  }
  
  .wrapper{
    display: flex;
    position:relative;
  }
  
  .wrapper .sidebar{
    width: 450px;
    /* height: 100% */
    background:black;
    padding: 30px 0px;
    position:relative;
  }
  
  .wrapper .sidebar h2{
    color: #bdb8d7;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .wrapper .sidebar ul li{
    padding: 10px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
  }    
  
  .wrapper .sidebar ul li a{
    color: #bdb8d7;
    display: block;
  }
  .wrapper .sidebar ul li p{
    color: #bdb8d7;
    display: block;
    font-weight: 700;
    font-size: 20px;
  }
  
  .wrapper .sidebar ul li a .fas{
    width: 30px;
  }
  
  .wrapper .sidebar ul li:hover{
    background-color: #594f8d;
  }
      
  .wrapper .sidebar ul li:hover a{
    color: #fff;
  }
  .content{
    padding: 3%;

  }
  .content h2{
    text-align: center;
  }
  img{
    align-items: center;
    width: 80%;
    margin: 10%;
  }
  .content ul li {
    list-style: disc;
    
  }
  .content iframe{
    width: 80%;
    height: 15%
  }
  .site-footer{
    background-color:#000000;
    height: 408px;  
    /* padding:45px 0 20px; */
    font-size:15px;
    line-height:24px;
    color: #bdb8d7;  
    margin-bottom: 0px;
    

}
.footer-About{ 
  /* background-color: aliceblue;  */
  height: 350px;
  width: 50%;
  float: left;
}
.head-About{
  font-size: 30px;
  padding-top: 15px; 
  padding-left: 5%; 
  padding-right: 5%; 
  text-align: justify;
  margin-top: 40px;
  /* line-height: 50px; */
}
/* .footer-About h6{
  font-size: 30px;
  margin-top: 80px;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 20%;
} */
.footer-About p{
  padding-top: 18px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: justify;
  
}
.footer-About p span{
  font-size: 30px;
  /* margin-top: 50px;  */
  /* padding-left: 15%; */
  /* padding-right: 15%; */
  line-height: 80px;
}
.footer-Categories{
  /* background-color: #737373;  */
  height: 350px;
  width: 25%;
  float: right;
}
.footer-Categories p{
  font-size: 30px;
  padding-top: 40px; 
  padding-left: 15%;
  padding-right: 15%;
  text-align: justify;
  line-height: 50px;  
}
.footer-Categories ul li{
  /* padding-top: 12px; */
  list-style: none;
}
.footer-Categories ul li a{
  text-decoration: none;
  color: #bdb8d7;
}
.Quick-links{
  /* background-color: #414040;   */
  height: 350px;
  width: 25%;
  float: right;
}
.Quick-links p{
  font-size: 30px;
  padding-top: 40px;
  padding-left: 15%;
  padding-right: 15%;
  text-align: justify;
  line-height: 50px; 
}
/* .Quick-links ul{
  padding: 28px; 
   margin-top: 30px; 
} */
/* .Quick-links h6{
  font-size: 30px;
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 15%;
  text-align: justify;
  line-height: 80px;
} */
.Quick-links ul li{
  
  list-style: none;
}
.Quick-links ul li a{
  text-decoration: none;
  color: #bdb8d7;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color: #3da9fc;
  text-decoration:none;
  
}
hr{
  background-color:#bdb8d7;
  height: 2px;
  width: 100%;
  border: none;
  
}
.copyright{
  /* background-color: aqua; */
  width: 70%;
  float: left;
}
.copyright-text{
  margin-left: 10%;
  margin-top: 10px;
}
.copyright-text a{
  color: #bdb8d7;
  text-decoration: none;
}
.copyright-text a:hover{
  color: #3da9fc;
}
.social-media{
  margin-top: 10px;
  /* background-color: red;   */
  width: 30%;
  height: 50px;
  float: right;
  /* list-style: none; */
}
.social-media ul li{
  margin-left: 5px;
  width: 20px;
  height: 20px;
  display: inline-block;
  list-style: none;
  padding-top: 5px;
  padding-left: 40px;  
  /* margin-left: 20px; */
}
.bi-facebook{
  width: 30px;
  height: 30px;
  color:#bdb8d7;
}
.bi-facebook:hover{
  color: rgb(74, 121, 216);
  cursor: pointer;
}
.bi-instagram{
  width: 30px;
  height: 30px;
  color:#bdb8d7;
}
.bi-instagram:hover{
  color: rgb(188, 111, 154);
}
.bi-linkedin{
  width: 30px;
  height: 30px;
  color:#bdb8d7;
}
.bi-linkedin:hover{
  color: rgb(74, 121, 216);
}
.bi-github{
  width: 30px;
  height: 30px;
  color:#bdb8d7;
}
.bi-github:hover{
  color: white
}
.bi-google{
  width: 30px;
  height: 30px;
  color:#bdb8d7;
}
.bi-google:hover{
  color: rgb(216, 74, 74);
}
@media (max-height: 500px){
  .social_media{
    display: none !important;
  }
}
