
.buton{
    background-color: bisque;
    height: 60px;
}
.buton .buton1{
    float: left;
    width: 50%;
}
.buton .buton1 input{
    height: 30px;
    width: 60px;
}
.buton .buton2{
    float: right;
    width: 50%;
}
.buton .buton2 button{
    height: 30px;
    width: 60px;
}
.firstif{
    float: left;
}
.secndif{
    float: right;
}
